<div class="container my-5">
  <div class="row g-4">
    <div class="col accordion border-0 accordion-background-active">
      {% include directory ~ '/templates/node/node--faq--accordion.html.twig' with {'show': 'show', 'aria_expanded': 'true'} %}
    </div>
  </div>
</div>