<div class="container">
  <div class="row">
    <div class="col col-8">
      <section class="it-page-section">
        <div class="cmp-timeline">
          <h2 class="title-xxlarge mb-3" id="deadlines">Fase del servizio</h2>
          <div class="calendar-vertical mb-3" data-element="service-calendar-list">
            {% include directory ~ '/templates/card/node--fase-del-servizio--card.html.twig' %}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>