{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {% if path('<current>') != '/homepage' %}
    <div class="container mb-2">
      <div class="row">
        <div class="col">
          {% include directory ~ '/templates/node/parts/node--parts--title.html.twig' with { 'title': node.label } %}
        </div>
      </div>
    </div>

    {% if content.field_descrizione_breve[0] is not empty %}
      <div class="container">
        <div class="row row-shadow pb-5">
          <div class="col">
            {% include directory ~ '/templates/node/parts/node--parts--text.html.twig' with { 'text': content.field_descrizione_breve[0]["#context"].value } %}
          </div>
        </div>
      </div>
    {% endif %}

  {% endif %}

  {{ content|without('field_descrizione_breve') }}

</article>