<div class="container my-5">
  <div class="row row-cols-lg-3 row-cols-1 g-4">
    <div class="col">
      {% include directory ~ '/templates/node/node--punto-di-contatto--card.html.twig' %}
    </div>
  </div>
</div>