{% set filename = content.field_media_file[0]["#file"].filename.value %}
{% set href = file_url(content.field_media_file[0]["#file"].uri.value) %}
<div class="card card-teaser white-bg shadow-sm rounded border border-light h-100">
  <svg class="icon">
    <use href="#it-clip" />
  </svg>
  <div class="card-body">
    <h5 class="card-title mb-0">
      <a href="{{ href }}" title="Scarica {{ filename }}" aria-label="Scarica {{ filename }}" download class="text-decoration-none text-break">
        {{ filename }}
      </a>
    </h5>
  </div>
</div>