<div class="bg-grey-card">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-xxlarge mb-0 mt-5">{{ paragraph.field_titolo[0].value }}</h2>
      </div>
      <div class="col-12">
      {{ drupal_block('views_exposed_filter_block:tutte_le_novita-novita').content|without('actions') }}
      <div class="col mt-3">
        {{drupal_view('tutte_le_novita', 'novita')}}
      </div>
    </div>
  </div>
</div>
