{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <section class="useful-links-section">
        <div class="section section-muted p-0 py-5">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-lg-6">
                <form action="{{ url('<front>') }}risultati-ricerca">
                  <div class="cmp-input-search">
                    <div class="form-group autocomplete-wrapper mb-2 mb-lg-4">
                      <div class="input-group">
                        <label for="autocomplete-autocomplete-three" class="visually-hidden">Cerca una parola
                          chiave</label>
                        <input type="text" class="autocomplete form-control"
                               placeholder="{{ content.field_label.0['#context']['value'] }}"
                               id="autocomplete-autocomplete-three" name="search_api_fulltext" data-bs-autocomplete="[]"
                               data-focus-mouse="false">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="submit" id="button-3">Invio</button>
                        </div>
                        <span class="autocomplete-icon" aria-hidden="true">
                          <svg class="icon icon-sm icon-primary">
                            <use href="#it-search" />
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="link-list-wrapper">
                    <div class="link-list-heading text-uppercase mb-3 ps-0">Link utili</div>
                    <ul class="link-list">
                      {{ content.field_links }}
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endblock %}
  </div>
{% endblock paragraph %}
