<div class="card no-after border-start mt-3">
  <div class="card-body">
    <h5>
      <span class="category-top">
       {{ content.field_titolo }}
      </span>
      <p class="card-title big-heading">{{ content.field_prezzo }}</p>
    </h5>
    <p class="mt-4">{{ content.field_didascalia }}</p>

  </div>
</div>
