{% set label = content["#file"].filename.value %}
{% if content["#file"]._referringItem.description is not empty %}
    {% set label = content["#file"]._referringItem.description %}
{% endif %}
<div class="card py-2 px-4 h-100 rounded shadow-sm border border-light no-after">{{ title_suffix }}
  <div class="category-top d-flex gap-1">
    <svg class="icon icon-sm flex-shrink-0 mt-1"><use href="#it-clip" xlink:href="#it-clip"></use></svg>
    <h3 class="title-xsmall-semi-bold mt-1 fw-semibold">
      <div class="gap-1 d-flex align-items-center">
        <a class="text fw-bold text-decoration-none text-break" title="Scarica {{ label }}" href="{{ content["#file"].uri.value|file_url }}">{{ label }}</a>
        <a class="read-more position-static mt-1"><svg class="icon flex-shrink-0 ms-0"><use href="#it-arrow-right" xlink:href="#it-arrow-right"></use></svg></a>
      </div>
    </h3>
  </div>
</div>