<div class="card py-3 px-4 h-100 rounded shadow-sm border border-light">{{ title_suffix }}

  <div class="container px-0">
    <div class="row mx-0 gap-3">
      <div class="col px-0">

        {% if label is not empty %}
          <div class="category-top mb-3 d-flex gap-2">
            <svg class="icon flex-shrink-0"><use href="#it-folder" xlink:href="#it-folder"></use></svg>
            <h3 class="title-xsmall-semi-bold mt-1 fw-semibold text-uppercase">
              {{ label }}
            </h3>
          </div>
        {% endif %}

        {% include directory ~ '/templates/card/parts/card--parts--text.html.twig' with { 'content': content.field_descrizione_breve[0] } %}
        
      </div>
    </div>
  </div>

  {% include directory ~ '/templates/card/parts/card--parts--read-more.html.twig' with { 'url': url, 'title': label[0]["#context"].value } %}

</div>