<div class="card py-3 px-4 h-100 rounded shadow-sm border border-light">{{ title_suffix }}

  <div class="container px-0">
    <div class="row mx-0 gap-3">
      <div class="col px-0">

        <div class="row mx-0 gap-2">
          <div class="col px-0">
            {% include '@comuni_theme/templates/card/parts/card--parts--category.html.twig' with { 'icon': 'it-calendar', 'taxonomy': content.field_tipo_di_evento } %}
          </div>
          {% include '@comuni_theme/templates/card/parts/card--parts--image.html.twig' with { 'image': content.field_immagine[0] } %}
        </div>

        {% include '@comuni_theme/templates/card/parts/card--parts--title.html.twig' with { 'label': label } %}


        {% set tmp = content.field_data_e_orario_di_inizio[0]["#text"]|date('U') %}
        {% if tmp|date('H') == '00' and tmp|date('i') == '00' and tmp|date('s') == '00' %}
          {% set tmp = 'Da ' ~ tmp|format_date('medium') %}
        {% else %}
          {% set tmp = 'Da ' ~ tmp|format_date('medium_datetime') %}
        {% endif %}
        {% include '@comuni_theme/templates/card/parts/card--parts--date.html.twig' with { 'content': tmp } %}

        {% if content.field_data_e_orario_di_inizio[0]["#text"] != content.field_data_e_orario_di_fine[0]["#text"] %}
          {% set tmp = content.field_data_e_orario_di_fine[0]["#text"]|date('U') %}
          {% if tmp|date('H') == '00' and tmp|date('i') == '00' and tmp|date('s') == '00' %}
            {% set tmp = 'Fino a ' ~ tmp|format_date('medium') %}
          {% else %}
            {% set tmp = 'Fino a ' ~ tmp|format_date('medium_datetime') %}
          {% endif %}
          {% include '@comuni_theme/templates/card/parts/card--parts--date.html.twig' with { 'content': tmp } %}
        {% endif %}

        {% include '@comuni_theme/templates/card/parts/card--parts--text.html.twig' with { 'content': content.field_descrizione_breve[0] } %}
        
      </div>
    </div>
  </div>

  {% include '@comuni_theme/templates/card/parts/card--parts--read-more.html.twig' with { 'url': url, 'title': label[0]["#context"].value } %}

</div>