<div class="card py-3 px-4 h-100 rounded shadow-sm border border-light">{{ title_suffix }}

  <div class="container px-0">
    <div class="row mx-0 gap-3">
      <div class="col px-0">

        <div class="row mx-0 gap-2">
          <div class="col px-0">
            {% include directory ~ '/templates/card/parts/card--parts--category.html.twig' with { 'icon': 'it-pa', 'taxonomy': content.field_tipo_di_organizzazione } %}
          </div>
          {% include directory ~ '/templates/card/parts/card--parts--image.html.twig' with { 'image': content.field_immagine[0] } %}
        </div>

        {% include directory ~ '/templates/card/parts/card--parts--title.html.twig' with { 'label': label } %}
        {% include directory ~ '/templates/card/parts/card--parts--text.html.twig' with { 'content': content.field_descrizione_breve[0] } %}

      </div>
    </div>
  </div>

  {% include directory ~ '/templates/card/parts/card--parts--read-more.html.twig' with { 'url': url, 'title': label[0]["#context"].value, 'data_element': 'service-area' } %}

</div>