{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}

<div class="it-socials d-none d-md-flex">
    {{ menus.menu_links(items, attributes, 0, 0) }}
</div>

{% macro menu_links(items, attributes, menu_level, index) %}
    {% import _self as menus %}
    {% if items %}
    <span>Seguici su:</span>
        <ul>
            {% for item in items %}
            <li>
                <a href="{{item.url}}" target="_blank">
                <svg class="icon it-social-{{item.title}}">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" href="#it-social-{{item.title}}"></use>
                </svg>
                </a>
            </li>
            {% endfor %}    
        </ul>
    {% endif %}
{% endmacro %}
