{% import _self as menus %}

<section class="main-menu">
    {{ menus.menu_links(items, attributes, 0, 0) }}
</section>

{% macro menu_links(items, attributes, menu_level, index) %}
    {% import _self as menus %}
    {% if items %}
        <ul class="navbar-nav navbar-secondary">
            {% for item in items %}
            {% set append %}
                {% if loop.last %}fw-bold{% endif %}
            {% endset %}
            <li class="nav-item">
                <a class="nav-link" href="{{item.url}}">
                <span class="{{append}}">{{item.title}}</span>
                </a>
            </li>
            {% endfor %}    
        </ul>
    {% endif %}
{% endmacro %}
