{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}

<section class="main-menu">
    {{ menus.menu_links(items, attributes, 0, 0) }}
</section>

{% macro menu_links(items, attributes, menu_level, index) %}
    {% import _self as menus %}
    {% if items %}
        <ul class="navbar-nav">
            {% for item in items %}
            <li class="nav-item">
                <a class="nav-link" href="{{item.url}}">
                <span>{{item.title}}</span>
                </a>
            </li>
            {% endfor %}    
        </ul>
    {% endif %}
{% endmacro %}
