{% if content[0] %}
  <article id="ultimo-aggiornamento" class="anchor-offset mt-5">
    <h5 class="font-serif">Ultimo aggiornamento</h5>
    <p class="h6"><strong>{{ content[0].value|format_date('medium') }}</strong></p>
  </article>
{% endif %}