{% if content[0] is not empty %}
  <section class="it-page-section mb-5">
    <h2 class="title-xxlarge mb-3" id="{{ id }}">{{ label }}</h2>
    <div class="richtext-wrapper lora" {% if data_element %}data-element="{{ data_element }}"{% endif %}>
      {{ content }}
    </div>
  </section>
{% endif %}