{% if content is not empty %}
 
  <div class="container">
    <div class="row row-cols-lg-2 row-cols-1 g-4">

      {% set risultati = [] %}
      {% for item in content %}

        {% set tmp = drupal_entity('paragraph', item.target_id)["#paragraph"] %}

        {% if tmp.field_documento is not null %}
          {% set risultati = risultati|merge([[
              tmp.field_documento[0]|file_url,
              drupal_entity('media', tmp.field_documento[0].target_id )['#media'].name[0].value
            ]])
          %}
        {% elseif tmp.field_link is not null %}
           
          {% set risultati = risultati|merge([[
              tmp.field_link[0]|file_url,
              tmp.field_link[0].title
            ]])
          %}

        {% elseif tmp.field_dataset is not null %}
          NON ANCORA GESTITO
        {% endif %}
  
        <div class="col">
          <div class="card py-2 px-4 h-100 rounded shadow-sm border border-light no-after">
            <div class="category-top d-flex gap-1">
              <svg class="icon icon-sm flex-shrink-0 mt-1"><use href="#it-clip" xlink:href="#it-clip"></use></svg>
              <h3 class="title-xsmall-semi-bold mt-1 fw-semibold">
                <div class="gap-1 d-flex align-items-center">
                  <a class="text fw-bold text-decoration-none text-break" title="{{ risultati[loop.index0][1] }}" href="{{ risultati[loop.index0][0] }}" target="_blank" rel="noopener noreferrer">{{ risultati[loop.index0][1] }}</a>
                  <a class="read-more position-static mt-1"><svg class="icon flex-shrink-0 ms-0"><use href="#it-arrow-right" xlink:href="#it-arrow-right"></use></svg></a>
                </div>
              </h3>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>



{% endif %}