{% if url is not empty %}
  <a class="read-more gap-1 bottom-0 mb-3 end-0 me-4" href="{{ url }}">
    <span class="text">Scarica</span>
    <svg class="icon flex-shrink-0 ms-0"><use href="#it-download" xlink:href="#it-download"></use></svg>
  </a>
{% endif %}