{% if content is not empty %}
  <div class="d-flex gap-1 mb-1">
    <svg class="icon icon-xs flex-shrink-0 mt-1"><use href="#it-clock" xlink:href="#it-clock"></use></svg>
    <div class="title-xsmall-semi-bold text-uppercase">
      {% if content|date('H') == '00' and content|date('i') == '00' and content|date('s') == '00' %}
        {{ prefix ~ ' ' ~ content|date('U')|format_date('medium') }}
      {% else %}
        {{ prefix ~ ' ' ~ content|date('U')|format_date('medium_datetime') }}
      {% endif %}
    </div>
  </div>
{% endif %}