{% if url is not empty %}
  <a class="read-more gap-1 bottom-0 mb-3 end-0 me-4" title="Apri indirizzo su google map" href="{{ url }}">
    <span class="text">Mappa</span>
    <svg class="icon flex-shrink-0 ms-0"><use href="#it-map-marker-circle" xlink:href="#it-map-marker-circle"></use></svg>
  </a>
{% endif %}