{% if url is not empty %}
  <a class="read-more gap-1 bottom-0 mb-3 start-0 ms-4" href="{{ url }}" data-element="{{ data_element }}">
    <span class="text">Vai alla pagina</span>
    <svg class="icon flex-shrink-0 ms-0"><use href="#it-arrow-right" xlink:href="#it-arrow-right"></use></svg>
  </a>
{% endif %}