<div class="container px-4 my-4">
  <div class="row justify-content-center">
    <div class="col-lg-12 px-lg-4 py-lg-2">
      <div class="cmp-breadcrumbs" role="navigation">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
          <ol data-element="breadcrumb" class="breadcrumb p-0">
            <li class="breadcrumb-item">
              <a href="{{ url('<front>') }}">Home</a>
              <span class="separator">/</span>
            </li>
            <li class="breadcrumb-item">
              <a href="{{ url('<front>') }}vivere-il-comune">Vivere il comune</a>
              <span class="separator">/</span>
            </li>
            {% if content.field_tipo_di_evento[0] is not empty %}
            <li class="breadcrumb-item">
                {% for item in content.field_tipo_di_evento["#items"] %}
                    {{ item|view }}
                    {% if not loop.last %} - {% endif %}
                {% endfor %}
                <span class="separator">/</span>
            </li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">
                {{label}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>