{%
  set classes = [
    'taxonomy-term',
    'vocabulary-' ~ term.bundle|clean_class,
  ]
%}

<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>

  <div class="container mb-2">
    <div class="row">
      <div class="col">
        {% include '@comuni_theme/templates/node/parts/node--parts--title.html.twig' with { 'title': name[0]['#context'].value, 'data_element': 'page-name' } %}
      </div>
    </div>
  </div>

  {% if content.field_descrizione_breve[0] is not empty %}
    <div class="container">
      <div class="row row-shadow pb-5">
        <div class="col">
          {% include '@comuni_theme/templates/node/parts/node--parts--descrizione-breve.html.twig' with { 'text': content.field_descrizione_breve[0]["#context"].value } %}
        </div>
      </div>
    </div>
  {% endif %}

  {{ content|without('field_descrizione_breve')|without('field_link_a_eurovoc') }}


  {% set count = 0 %}
  {% for key, item in nodeTypeGetNames()|json_decode %}
    {% if drupal_view_result('contenuto_collegato', 'block_3', term.id, key) %}
      <div class="py-5 {% if count % 2 == 0 %}has-bg-grey{% endif %}">
        <div class="container">
          <div class="row">
            <div class="col">
              <section class="it-page-section mb-30">
                <h2 class="title-xxlarge mb-3">{{ item }}</h2>
                <div class="container">
                  {{ drupal_view('contenuto_collegato', 'block_3', term.id, key) }}
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      {% set count = count + 1 %}
    {% endif %}
  {% endfor %}

</div>