{% for item in items %}
  {% set item_name = item.content['#title'] %}
  {% set item_uri = item.content['#url_title'] %}
  <div class="col">
    <div class="card card-teaser white-bg shadow-sm rounded border border-light h-100">
      <svg class="icon"><use href="#it-clip"></use></svg>
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ file_url(item_uri) }}" title="Vai a {{ item_name }}">{{ item_name }}</a>
        </h5>
      </div>
    </div>
  </div>
{% endfor %}