{% if content is not empty %}
  <section class="it-page-section mb-5">
    <h2 class="title-xxlarge mb-3" id="sede-principale">Sedi</h2>
    <div class="container" {% if data_element %}data-element="{{ data_element }}"{% endif %}>
      {{ drupal_view('paragraph_collegati', 'block_1', content) }}
    </div>
  </section>
{% endif %}